<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css"/>
    <link rel="stylesheet" href="/border-style.css"/>
    <link rel="icon" type="image/x-icon" href="./Assets/Images/favicon.png">
    <title>Test Page</title>
</head>
<body>
    <canvas id="canvas"></canvas>
    <div class="content">
    <h1>
        Test Page
    </h1>
    
    <div id="container8" class="content border" name="container">

afawfawfawfawfawfawfawfawfawfawfawf
    </div>


    

    <div id="container8" class="content border" name="container">

        <img id="est" src="/Assets/Images/joni.jpg"
        width="300">
    </div>


   

    <div id="container8" class="content border" name="container">


    </div>
        
 <%- include('footer.ejs') %>  

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="index.js" charset="utf-8"></script>
   
</body>
</html>