.dropdown .trigger{
  border-bottom: 1px solid gray;
  padding: 15px;
  position: relative;
  cursor: pointer;
  font-size: larger;
  font-weight: bold;
}
.dropdown .trigger::after{
  content: ">";
  display: inline-block;
  position: absolute;
  right: 15px;
  transform: rotate(90deg) scale(0.5, 1);
  font-weight: bold;
  transition: transform 0.3s;
}
.dropdown .trigger.active::after{
  transform: rotate(-90deg) scale(0.5, 1);
}
.dropdown .answer{
  display: none;
}
.dropdown .answer.active{
  display: flex;
  justify-content: center;
}

div.trigger{
  min-width: 200px;
}

/* Centering styles for smaller screens */

@media only screen and (max-width: 768px) {
  .dropdown .answer p{
    justify-content: center !important;
    text-align: center !important;
    font-size: 12px;
    width: 300px;
  }
}
@media only screen and (max-width: 768px) {
  .dropdown .answer.active {
    align-items: center;
    margin: 0 auto;
    min-width: 280px;
    display: flex;
    text-align: center;
  }
  .dropdown .answer.active .parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

}